.dropdown-item
  {
    color: #fff;
  }
/* FOOTER */

#footer
  {
      margin-top: 80px;
      padding: 100px;
      background-image: linear-gradient(   #2d557d,#2d557d );
      color: #fff;
  }
  /* .footer-logo
  {
      width: 150px;
      margin-top: 25px;
      margin-bottom: 15px;
  } */
  #footer h1
  {
      font-size: 15px;
      text-align: left;
      margin-top: 25px;
      margin-bottom:  25px; 
      border-bottom: 5px solid #008080;
  }
  #footer p
  {
      font-size  : 12px ;
      text-align: left;
  }
  #footer .row .fa
  {
      font-size: 15px;
      padding-right: 20px;
  }
  .footer-box .form-control
  {
     box-shadow:none !important;
     border:none;
     border-radius: 0;
     margin-top : 50px;
     max-width :250px;

  }
  .footer-box .btn-primary
  {
    box-shadow:none !important;
     border:none;
     border-radius: 0;
     margin-top : 30px;
     background-image: linear-gradient(  #008080, #008080 );

  }
  
  .footer-box h5
  {
    margin-top : 20px;
    border-bottom: 5px solid #008080;
  }
  
.subscribe a
{
 width: 100px;
 display: block;
 color: #fff !important;
 background-image: linear-gradient(  #008080, #008080);
 text-decoration: none;
 margin-top : 30px;
 padding: 5px;
 text-align: center;
}
    
  #footer hr
  {
       margin-top: 10px;
  }
  #footer .copyright
  {
      margin-bottom: -80px;
      text-align: center;
      font-size: 15px;
  }
  
  


/* <!-- Navbaar --> */

    .navbar 
    {
      background-image: linear-gradient(   #2d557d,#2d557d );
      color: #fff;
    }
    .dropdown-menu
    {
      background-image: linear-gradient(   #2d557d,#2d557d );
      
    }
    .dropdown-item
    {
      color: #fff;
    }
    .logo
  {
      width: 40%;
      color: #fff;
      margin-top:10px;
      padding-left :100px;
      box-sizing: border-box;
  }